/* BG  */

.donate-bg {
  background-color: #eff7f2;
  margin-bottom: 9.6rem;
}
.donate-bg-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9.6rem;
  padding-top: 9.6rem;
}

.donate-bg-text {
  display: flex;
  flex-direction: column;
  width: 627px;
}
.donate-head-tex {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}
.donate-head-line {
  width: 72px;
  height: 1px;
  background-color: #1d2130;
}
.donate-head-p {
  color: var(--primary-text, #1d2130);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.donate-bg-title {
  color: var(--primary-text, #1d2130);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1.4rem;
}
.donate-bg-p {
  color: var(--secondary-text, #525560);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 3.2rem;
}
.dontate-bg-btn {
  color: #fff;
  text-align: right;
  font-style: normal;
  font-weight: 500;
  align-self: flex-start;
  border: none;
  line-height: normal;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--green-primary, #70c174);
  backdrop-filter: blur(40px);
  cursor: pointer;
  transition: 0.3s ease;
}

.dontate-bg-btn:hover {
  opacity: 0.7;
}
/* BG END */

/* DONATE HERO  */
.donate-hero {
  padding-bottom: 9.6rem;
}
.donate-hero-container {
  display: flex;
  justify-content: space-between;
}

.donate-hero-text {
  display: flex;
  flex-direction: column;
  width: 592px;
}
.donate-hero-title {
  color: var(--b, #1d2130);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 2.4rem;
}
.donate-hero-p {
  color: var(--secondary-text, #525560);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.donate-tab {
  width: 592px;
}
.tab-content {
}
.tab-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #e4f4f5;
}
.tab-item {
}
.tab-link {
  display: inline-block;
  position: relative;
  display: inline-flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 10px;
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

/* .tab-link::before {
  display: inline-block;
  content: "";
  background-color: #70c174;
  width: 0;
  height: 3px;
  position: absolute;
  left: 5px;
  bottom: 0;
  transition: 0.3s;
}

.tab-link:hover::before {
  width: 100%;
} */

.tab-p {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.donate-hero-line {
  width: 100%;
  height: 1px;
  background-color: #525560;
  padding-bottom: 9.6rem;
  padding-top: 9.6rem;
}
/* DONATE HERO END */

/* FEATURES */

.donate-features {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}
.donate-features-container {
  display: flex;
  justify-content: space-between;
}

.donate-features-title {
  width: 374px;
  color: var(--b, #1d2130);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.donate-features-p {
  width: 338px;
  color: var(--secondary-text, #525560);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.donate-features-pp {
  width: 374px;
  color: var(--secondary-text, #525560);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* FEATURES END */
